[mongodb-org-{{ mongodb_version }}]
name=MongoDB Repository
baseurl=https://repo.mongodb.org/yum/amazon/2013.03/mongodb-org/{{ mongodb_version_major }}.{{ mongodb_version_minor }}/x86_64/
gpgcheck=1
enabled=1
gpgkey=https://www.mongodb.org/static/pgp/server-{{ mongodb_version_major }}.{{ mongodb_version_minor }}.asc