[mongodb-org-{{ mongodb_version }}]
name=MongoDB Repository
baseurl=https://repo.mongodb.org/yum/redhat/$releasever/mongodb-org/{{ mongodb_version_major }}.{{ mongodb_version_minor }}/$basearch/
gpgcheck=1
enabled=1
gpgkey=https://www.mongodb.org/static/pgp/server-{{ mongodb_version_major }}.{{ mongodb_version_minor }}.asc